/* Estilo general del carrusel */
.carousel {
  width: 100%;
  max-width: 450px;
  height: 20rem; 
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombra suave para destacar el carrusel */
  transition: transform 0.3s ease; /* Transición suave para cuando se hace hover */
  border-radius: 5px;
}

/* Efecto de hover en el carrusel */
.carousel:hover {
  transform: scale(1.03); /* Aumenta ligeramente el tamaño del carrusel */
  border-radius: 5px;
}

/* Estilo de la imagen */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease; /* Transición suave entre las imágenes */
}

/* Efecto de hover en la imagen */
.carousel:hover .image {
  transform: scale(1.05); /* Aumenta ligeramente la imagen cuando se pasa el mouse */
  opacity: 0.9; /* Reduce la opacidad */
  border-radius: 5px;
}

/* Estilos de los puntos  */
.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* Estilo de los puntos */
.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

/* Efecto de hover en los puntos */
.carousel:hover .dot {
  opacity: 1; /* Hace que los puntos sean más visibles cuando se pasa el mouse */
  transform: scale(1.2); /* Aumenta  el tamaño de los puntos */
}

/* Punto activo */
.dot.active {
  background-color: #333;
}

@media (max-width: 600px) {
  .carousel {
    max-width: 100%; /* Ajusta el carrusel al 100% en pantallas pequeñas */
  }
}
