/* ------------- Contenedor principal de la seccion con imagen de fondo - HEADER PPAL ----------------------- */
.container_header {
    background-image: url('../assets/img/header_imagen.jpeg'); /* Imagen de fondo */
    height: 911px; /* Altura de la seccion */
    width: 100%; /* Ancho completo */
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Centrada */
    background-repeat: no-repeat; /* No se repite la imagen (en caso de que sea muy chica, más para cuando hagamos el responsive) */
    /*---------------*/
    display: flex; 
    flex-direction: column; /* Dirección vertical */
    justify-content: space-between; /* Espacio entre los elementos hijos (la fecha) */
    align-items: center; /* Centrado horizontal */
    position: relative; /* Necesario para que el ::after se posicione respecto a este */
    overflow: hidden; /* Oculta cualquier contenido que se salga (q la imagen sea mas ancha q el total de la pagina */
}

/* Capa oscura encima de la imagen */
.container_header::after {
    content: ""; /* Obligatorio para que nos tome el ::after, o sea, se renderice. Pq el ::after está hecho para insertar 
    decoraciones (en este caso la imagen mas oscura, se puede hacer lo mismo con los árboles.*/
    position: absolute; /* Posicionamiento absoluto sobre el contenedor, q no se mueva cuando cambiamos otras cosas. */
    top: 0;
    left: 0;
    height: 100%; /* Cubre toda la altura */
    width: 100%; /* Cubre todo el ancho */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad del 30% */
    z-index: 1; /* Por debajo del contenido */
}
/* NOTA:  El z index mueve los elementos en el eje Z,  es decir, los maneja como capas, el ::after tiene un Z-INDEX de 1 para
    que esté por debajo de los textos (pao y dani, nos casamos)
*/

/* Este es para verificar que el contenido de la seccion esté por encima de la capa oscura 
    Esto seria para que no se oscurezca todos los textos
*/
.container_header > * {
    position: relative; 
    z-index: 2; /* Más alto que el z-index de la capa oscura, */ 
}


.container_items {
    display: flex;
    flex-direction: column;
    width: 816px;
    height: 211px;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.fecha {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant Garamond';
    font-size: 96px;
    font-weight: 200;
    gap: 25px;
    margin-bottom: 70px;
    color: #F2F1EF;
}

.seis {
    color: #D8CAB0;
}

.subtitulo {
    width: 425px;
    height: 68px;
}

.titulo {
    padding: 35px;
}

.punto {
    font-size: 85px;
    line-height: 1;        
    position: relative;
    top: -10px;         
}