.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; /* Espacio interno para pantallas chicas */
    box-sizing: border-box;
}

.modal {
    position: relative;
    background-color: #1b1d2e;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 80vw;
    max-height: 95vh;
    overflow: auto;
}

.image {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 0.5rem;
}

/* Botón cerrar */
.closeButton {
    position: absolute;
    top: 0.1rem;
    right: 0.45rem;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.closeButton:hover {
    color: #ff5a5a;
}
